@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select {
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

// Header

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;

  h2 {
    padding: 2rem;
  }
}

#logo {
  text-decoration: none;
}

// Search form

.search-form {
  display: flex;
  padding: 2rem;

  input {
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
  }

  button {
    padding: 0.5rem;
    text-transform: uppercase;
    font-family: "Poppins";
    background: rgba(162, 162, 226, 0.424);
    cursor: pointer;
  }
}

// Image gallery

.gallery {
  width: 95%;
  margin: auto;
  columns: 3;
  column-gap: 1rem;
  row-gap: 1rem;
}
.gallery-img {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  break-inside: avoid;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
}

.gallery-info {
  position: absolute;
  text-align: center;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  a {
    background: rgb(59, 59, 136);
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;

    &:hover {
      color: rgb(59, 59, 136);
      background: #fff;
      transition: all 0.3s ease-in-out;
    }
  }
}

.gallery-img:hover img {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.2;
}

.gallery-img:hover .gallery-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: hoverText 0.8s ease-out;
}

// Nav button
.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  background: rgb(59, 59, 136);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    color: rgb(59, 59, 136);
    background: #fff;
    transition: all 0.3s ease-in-out;
  }
}

// keyframes {

@keyframes hoverText {
  from {
    top: 80%;
  }
}

// media

@media screen and (max-width: 1224px) {
  .gallery {
    column-gap: 0.2rem;
  }
}

@media screen and (max-width: 958px) {
  .gallery {
    columns: 2;
  }
}

@media screen and (max-width: 496px) {
  .gallery {
    columns: 1;
    width: 100%;
    column-gap: 0;

    .gallery-img {
      padding: 0rem;
    }
  }

  .search-form {
    flex-direction: column;
    align-items: center;
  }

  .submit-btn {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 1rem;
  }

  h1 {
    margin-top: 2rem;
  }
}
